aiohttp
deepface
fastapi
Flask
gTTS
gunicorn
Jinja2
joblib
keras
keras-tcn
librosa
numba
numpy
oauthlib
omegaconf
openai
opencv-python
pandas
pillow
protobuf
PyAudio
pydantic
pydub
pyttsx3
retina-face
rsa
sacred
safetensors
scikit-learn
scipy
SpeechRecognition
tensorflow
timm
torch
torchaudio
torchtext
torchvision
tqdm
transformers
treetable
ujson
uvicorn

